CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
sunset.o
libsunset.a
.vscode
.DS_Store
.vscode/settings.json
